html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* unvisited link */
a:link {
  color: rgba(65, 8, 129, 0.719);
}

/* visited link */
a:visited {
  color: rgba(119, 0, 255, 0.719);
}

/* mouse over link */
a:hover {
  color: rgb(23, 214, 39);
}

.purple {
  color: rgb(86, 11, 172);
}

.pitaya{
  color: rgb(224, 24, 94);
}

.robocolor{
  color: rgb(39, 76, 168);
}

.juicyblue {
  color: rgb(12, 180, 158);
}

.fscolor{
  color: rgb(17, 42, 105);
}